table {
  width: 500px;
  height: 500px;
  text-align: center;
  font-size: 140px;
}
td {
  width: 33.33%;
  position: relative;
  height: 33.33%;
}
td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gold;
}